*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  color: rgb(221, 221, 245);
  background: black;
  padding: 15px;
}

.list{
  padding-left: 20px;
  border-bottom: 1px solid lavender;
}

